.contador{
    background: rgba(153, 104, 108, 0.85);
    border-color: rgb(180, 92, 98);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: rgba(255,255,255,1);
    /* font-family: Raleway; */
    font: normal normal normal 13px/16px Raleway,sans-serif;
    font-weight: 300;
    font-size: 38px;
    height: 109px;
    margin: 30px auto;
    /* width: 351px; */
    width: 75%;
    
}

.contador-bloque {    
    display: inline-block;
    padding: 20px 0px 0px 0px;
    text-align: center;
    vertical-align: top;
    width: 24%;
}

.contador-bloque-letra{
    font-size: 18px;
    padding-top: 25px;
    margin-top: 0px;
}

.separador {
    display: inline-block;
    padding: 20px 0px 0px 0px;
    text-align: center;
    vertical-align: top;    
    width: 1%;
}