.app {
    /* background-image: url('../assets/images/papel.jpg'); */
    /* background-image: url('../assets/images/fondo.webp'); */
    background: url('../assets/images/fondo2.webp') no-repeat center center fixed; 
    background-size: 100% 100%;
    text-align: center;
    width: 100%;
    height: var(--app-height);
    overflow-y: auto;
    position: relative;
}
.app::before {
    content: '';
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.app__top {
    position: absolute;
    top: 0;
    overflow: hidden;
}
.app__top img {
    position: absolute;
}
.app__top--l {
    left: 0;
    width: 100px;
    height: 100px;
}
.app__top--l img {
    width: 90px;
    top: 0;
    left: 0;
}
.app__top--r {
    right: 0;
    width: 150px;
    height: 150px;
}
.app__top--r img {
    width: 200px;
    bottom: 0;
}
.app__bottom {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.app__bottom img {
    position: absolute;
}
.app__bottom--l {
    left: 0;
    width: 150px;
    height: 100px;
}
.app__bottom--l img {
    width: 250px;
    top: 0;
    right: 0;
}
.app__bottom--r {
    right: 0;
    width: 100px;
    height: 100px;
}
.app__bottom--r img {
    width: 250px;
    top: 0;
}
